*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.CHAT-CHAT-container{
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
}


.chat-header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding:10px 0px;
}
/* form */
.messages-container{
    display:flex;
    flex-direction: column-reverse;
    width:95%;
    height:33rem;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-indent: 10px;
}

.owner,
.others{
    display: grid;
    width:80%;
    margin:5px 0px
}

.owner #name,
.others #name{
    font-size:13px;
}

.owner #message,
.others #message{
    width:80vw;
    padding: 15px 10px;
    overflow-wrap:break-word;
    border-radius: .3rem;
    color:white;
}

.owner #message{
    background: rgb(10, 118, 168);
}

.owner{
    transform: translateX(16%);
}

.others #message{
    background: rgb(92, 11, 74);
}


/* submit */
.submitting{
    position: sticky;
    bottom: 0;
    display:grid;
    height: 3rem;
    width:95%;
    grid-template-columns: 1fr auto;
}

.messageContent{
    display:flex;
    width:100%;
    text-indent: 30px;
    border:none;
    outline:0.5px solid rgb(22, 224, 39);
    margin-bottom: 10px;
}

button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    border:0;
    margin-bottom: 10px;
    outline:0.5px solid rgb(22, 224, 39);
}

#send{
    font-size:1.5rem;
}

button:hover,
button:hover i{
    background: rgb(22, 224, 39);
    color:white;
}

.out{
    text-decoration: none;
    padding:5px;
}

.out:hover{
    padding:5px;
    border-radius: .3rem;
    background: rgba(255,255,255,.3);
}
