*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New';
    padding: 0;
    background: #140d2b;
    color:aqua;
}

.notify{
    color:red;
    margin-top:10px;
}


.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80vh;
    flex-direction: column;
}

form{
    display:grid;
    justify-items: center;
    grid-gap:10px;
    width:80%;
}

.container-input{
    display:grid;
    width:80%;
    margin: 10px 0px;
}

input{
    width:80%;
}

input[type=submit]{
    border:none;
    padding:10px 0px;
    font-weight: bold;
    border-radius: .3rem;
    font-size:1.3rem;
    cursor:pointer;
    background-color:#0eaf1c;
    color:white;
}

.name,
.email,
.password{
    width:100%;
    font-size: 1rem;
    border:none;
    outline:none;
    border-bottom: 1px solid #95d61d;
    background: transparent;
    z-index: 2;
}

.name{
    text-indent: 55px;
}

.email{
    text-indent: 65px;
}

.password{
    text-indent: 93px;
}

.name-label,
.email-label,
.password-label{
    position: relative;
    background-color: none;
    transform: translateY(-18px);
    text-indent: 5px;
}


.name:focus,
.email:focus,
.password:focus{
    text-indent: 10px;  
    transition: text-indent .3s ease-in-out;
}


.name:focus ~ .name-label,
.email:focus ~ .email-label,
.password:focus ~ .password-label{
    text-indent: 5px;
    transition: transform .3s ease-in-out;
    transform: translateY(-40px);
}
